
p {
  margin: 0;
  padding: 0;
}
.title-block {
  position: absolute;
  top: 100px;
  left: 70px;
  width: 400px;
  margin-top: 50px;
}
.title-block h1{
  display: inline;
  font-size: 50px;
  font-weight: 700;
  color: #229fbe;
}
.title-block h2{
  display: inline;
  font-size: 25px;
  color: #999999;
}
form {
  width: 440px;
  height: 310px;
  margin-top: 45%;
  padding: 34px 60px 34px 60px;
  border: 1px solid #d1d1d1;
  border-radius: 5.51px;
  /* opacity: 33%; */
}
.icon {
  position: absolute;
  padding: 11px;
  color: #666666;
  min-width: 30px;
  text-align: center;
}
.fa-lock {
  position: absolute;
  padding: 11px;
  color: #666666;
  min-width: 30px;
  text-align: center;
}
.form-control {
  font-family:  Helvetica, sans-serif;
  padding-left: 40px;
  font-size: 14px;
  color: #666666;
  letter-spacing: -0.14px;
}
.form-group input {
  border-radius: 5px;
  /* opacity: 18%; */
}
.form-group input[type="email"],
.form-group input[type="password"] {
  max-width: 295px;
  margin-bottom: 34px;
  height: 40px;
}
.form-group input[type="password"] {
  margin-bottom: 40px;
}
.btn-login {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #229fbe;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 22px 10px 22px;
  letter-spacing: -0.18px;
  margin-bottom: 20px;
}
.signature {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
  letter-spacing: -0.12px;
  margin-bottom: 34px;
}
.signature a{
  text-decoration: none;
  color:  #229fbe;
}
.errors {
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: 218px;
  margin: 0;
}
.errors i {
  position: absolute;
  font-size: 18px;
  bottom: 30px;
  left: 300px;
}
.field-email:valid,
.field-password:valid {
  border: 1px solid green;
}
